<div class="card-flat">
	<h2>hi</h2>
	<p>this is just a test of card content</p> 
</div>
<button class="important">
	Hello
</button>
<icon name="alert" width="25px" filled></icon><icon name="alert" width="25px"></icon>
<icon name="badge" width="25px" filled></icon><icon name="badge" width="25px"></icon>
<icon name="balloon" width="25px" filled></icon><icon name="balloon" width="25px"></icon>
<div class="progress" style="--progress: 0%; --primary: var(--primary-accent-2); width: 140px;"><div id="bar" class="indeterminate"></div></div>